<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
     body{
     
        /* background-repeat: no-repeat; */
        /* width:100%; */
        
        margin: 0px;
        padding:0px;
        font-family: 'Baloo Bhai', cursive;
     }
     body h3{
        margin: auto;
        text-align: center;
     }
     .container{
        margin-top: 50px;
        
        /* width:130px; */
        /* border: 3px solid yellowgreen; */
     }
     .container h5{
       display: inline-block;
       padding: 0px 100px;
     }
     .container h5 a{
        color:rgb(105, 88, 88);
    text-decoration: none;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    font-size: 20px;
    
     }
     .container h5 a::marker,
     .container h5 a:active{
        color: skyblue;
        text-decoration: underline;
        /* background-color: antiquewhite; */
     }
    </style>
</head>
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<body>
<h3>Welcome to the Student-Teachers Page</h3>
<header>
    <div class="container">
        <div class="navs">
       <h5 class="heads"><a href="/dashboard" alt="">Dashboard</a></h5>
       <!-- <h5 class="heads"><a href="/login" alt="/login">Login</a></h5> -->
       <h5 class="heads"><a href="/logout" alt="">Logout</a></h5>
       <h5 class="heads"><a href="/oAuth" alt="">Login</a></h5>
       <h5 class="heads"><a href="/uploadFiles ">UploadFiles</a></h5>
    </div>
</div>
</header>

</body>
</html>