<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <style>
        .dashboard{
            margin:5px;
            height: auto;
            width: 800px;
            border-radius: 3px solid black;
            
            display: block;
            justify-content: center;
        }
        
    </style>
</head>
<body>
    <h1>welcome to student dashboard</h1>
     <a href="/">main Page</a>
     
    <div class="dashboard">
       <% if (locals.arrayOfNames && locals.arrayOfFiles) { %>
          <% for (let index=0;index<locals.length;index++) { %>
                
                    <a href="<%=arrayOfFiles[index]%>"><%=arrayOfNames[index]%></a>
                    
                     <hr>
                     
                
            <% } %>
            
         <% } %>
    </div>

</body>
</html>